* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.title {
    font-size: 32px;
}

.border {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
}

.grid {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    height: 500px;
    width: 500px;
}

.row{
    display: flex;
}

.colour {
    background-color: black;
}